body {
  margin:0 auto;
  width:500px;
}

.asteroidsList {
  border: 1px dotted #4f4f4f;
  padding:10px;
  list-style: none;
}

.asteroidsList li {
  background-color: #F5F5F5;
  padding: 10px;
}

.data {
    background-color: #F5F5F5;
    padding: 10px;
}
.asteroid {
    background-color: aquamarine;
}

.asteroidsList .ticket {
  display: none;
  margin-top: 10px;
}

a {
    text-decoration: none;
}

.dangerous {
    color: red;
}
